<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Scary Calculus{% endblock title %}</title>
</head>
<body>
<h1>Arcadia</h1>
<section>
    <header>
        {% block header %}{% endblock header %}
    </header>
    {% block nav %}

        <ul id="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'main_articles' %}">Articles</a></li>
        </ul>

    {% endblock nav %}
    <main>
        {% block body %}This is the body{% endblock body %}
    </main>

</section>
</body>
</html>